<div>
  <div>
      <mat-card>
          <mat-card-content>
            <mat-card-title>Reporte de Facturas </mat-card-title>
            
                <mat-grid-list [cols]="cols" rowHeight="100px">
                <mat-grid-tile>
                  <mat-form-field appearance="fill">
                      <mat-label>Fecha Inicio</mat-label>
                      <input matInput [matDatepicker]="picker" [(ngModel)]="fechaIn">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                  <mat-form-field appearance="fill">
                      <mat-label>Fecha Fin</mat-label>
                      <input matInput [matDatepicker]="picker2" [(ngModel)]="fechaFin">
                      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                      <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                  <mat-form-field appearance="fill">
                      <mat-label>Tipo de Comprobante</mat-label>
                      <mat-select [(ngModel)]="tipoC">
                        <mat-option *ngFor="let food of foods" [value]="food.value">
                          {{food.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                  <button mat-raised-button color="primary" class="material-cust-large-button" style="margin-bottom: 20px;" (click)="buscarFactura()">Buscar 
                  </button>
                </mat-grid-tile>
              </mat-grid-list>  
          </mat-card-content>        
      </mat-card>
  </div>
</div>  

<div>
<div>
    <mat-card>
        <mat-card-content>
          <div *ngIf="loading">
            <mat-progress-spinner mode="indeterminate" color="warn" diameter="30">
            </mat-progress-spinner>
          </div>
          <mat-card-subtitle>
            <!-- Total Emitidos:  {{convertir(totalEmitidos, 1)}} <br>
            Total Recibidos: {{totalRecibidos}} <br>
            Total Ingreso: {{convertir(totalIngreso, 0)}} <br>
            Total Egreso: {{convertir(totalEgresos, 0)}} <br>
            Total General: {{convertir(totalGeneral, 0)}} -->
          </mat-card-subtitle>
          
          <div style="display: flex;">
            <button mat-raised-button color="primary" class="" style="margin-bottom: 20px; background-color: #2DD310;" (click)="exportar()" [disabled]="desabilitaBoton">Exportar Excel 
            </button>
            <!-- <div style="margin-left: 10px;">
              <a href="http://localhost:8123/data.xlsx" download>descargar</a>
            </div> -->
            <div style="margin-left: 20px;">
              <mat-form-field appearance="fill">
                  <mat-label>Paginación</mat-label>
                  <mat-select [(ngModel)]="pagination" (ngModelChange)="buscaPorPagina()">
                    <mat-option *ngFor="let food of numerOptions" [value]="food.value">
                      {{food.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
            </div>
           
          </div>
         
          <div  class="table-responsive">
            <table mat-table [dataSource]="dataSource">
          
              <!-- Position Column -->
              <ng-container matColumnDef="UUID">
                <th mat-header-cell *matHeaderCellDef> UUID </th>
                <td mat-cell *matCellDef="let element"> {{element.uuid}} </td>
              </ng-container>
          
              <!-- Name Column -->
              <ng-container matColumnDef="FECHA FACTURA" style="padding: 100px;">
                <th mat-header-cell *matHeaderCellDef> FECHA FACTURA </th>
                <td mat-cell *matCellDef="let element"> {{element.fechaTimbrado.split("T")[0]}} {{element.fechaTimbrado.split("T")[1].substring(0,8)}} </td>
              </ng-container>
          
              <ng-container matColumnDef="FORMAPAGO">
                <th mat-header-cell *matHeaderCellDef> FORMA DE PAGO </th>
                <td mat-cell *matCellDef="let element"> {{element.Metadata.split('|')[0]}} </td>
              </ng-container>

              <ng-container matColumnDef="METODOPAGO">
                <th mat-header-cell *matHeaderCellDef> METODO DE PAGO </th>
                <td mat-cell *matCellDef="let element">  {{element.Metadata.split('|')[1]}} </td>
              </ng-container>

              <ng-container matColumnDef="RFCRECEPTOR">
                <th mat-header-cell *matHeaderCellDef> RFC RECEPTOR </th>
                <td mat-cell *matCellDef="let element">  {{element.Metadata.split('|')[3]}} </td>
              </ng-container>
          
              <ng-container matColumnDef="NOMBRERECEPTOR">
                <th mat-header-cell *matHeaderCellDef> NOMBRE RECEPTOR </th>
                <td mat-cell *matCellDef="let element">  {{element.Metadata.split('|')[4]}} </td>
              </ng-container>


              <ng-container matColumnDef="RFCEMISOR">
                <th mat-header-cell *matHeaderCellDef> RFC EMISOR </th>
                <td mat-cell *matCellDef="let element">  {{element.rfcEmisor}} </td>
              </ng-container>

              <ng-container matColumnDef="NOMBREEMISOR">
                <th mat-header-cell *matHeaderCellDef> NOMBRE EMISOR </th>
                <td mat-cell *matCellDef="let element">  {{element.nombreEmisor}} </td>
              </ng-container>

              <ng-container matColumnDef="VERSION">
                <th mat-header-cell *matHeaderCellDef> VERSION </th>
                <td mat-cell *matCellDef="let element">  {{element.Metadata.split('|')[5]}} </td>
              </ng-container>

              <ng-container matColumnDef="TIPORELACION">
                <th mat-header-cell *matHeaderCellDef> TIPO DE RELACION </th>
                <td mat-cell *matCellDef="let element">  {{element.Metadata.split('|')[6]}} </td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="TIPO COMPROBANTE">
                <th mat-header-cell *matHeaderCellDef> TIPO COMPROBANTE </th>
                <td mat-cell *matCellDef="let element"> {{element.tipoComprobante == "I"  || element.tipoComprobante == "ingreso" ? "Ingreso" : "Egreso"}} </td>
              </ng-container>


              <!-- <ng-container matColumnDef="RFC">
                <th mat-header-cell *matHeaderCellDef> RFC EMISOR </th>
                <td mat-cell *matCellDef="let element"> {{element.rfcEmisor}} </td>
              </ng-container> -->
              <!-- Symbol Column -->
              <ng-container matColumnDef="FOLIO">
                <th mat-header-cell *matHeaderCellDef> FOLIO </th>
                <td mat-cell *matCellDef="let element"> {{element.folio}} </td>
              </ng-container>

              <ng-container matColumnDef="SUBTOTAL">
                <th mat-header-cell *matHeaderCellDef> SUBTOTAL </th>
                <td mat-cell *matCellDef="let element"> {{ convertir(element.Metadata.split('|')[2], 0)}} </td>
              </ng-container>

              <ng-container matColumnDef="DESCUENTO">
                <th mat-header-cell *matHeaderCellDef> DESCUENTO </th>
                <td mat-cell *matCellDef="let element"> {{convertir(element.descuento, 0)}} </td>
              </ng-container>

              <ng-container matColumnDef="TOTALIMPUESTOTRASLADO">
                <th mat-header-cell *matHeaderCellDef> IVA TRASLADO </th>
                <td mat-cell *matCellDef="let element"> {{convertir(element.totalImpuestoTrasladado, 0)}} </td>
              </ng-container>


              <ng-container matColumnDef="IVA">
                <th mat-header-cell *matHeaderCellDef>RETENCION IVA </th>
                <td mat-cell *matCellDef="let element">{{ element.Metadata.split('|')[8]}}</td>
              </ng-container>

              
              <ng-container matColumnDef="ISR">
                <th mat-header-cell *matHeaderCellDef>RETENCION ISR </th>
                <td mat-cell *matCellDef="let element"> {{ element.Metadata.split('|')[9]}} </td>
              </ng-container>


              <ng-container matColumnDef="TOTAL">
                <th mat-header-cell *matHeaderCellDef> TOTAL </th>
                <td mat-cell *matCellDef="let element"> {{convertir(element.total, 0)}} </td>
              </ng-container>
 
              <ng-container matColumnDef="FECHACANCELACION">
                <th mat-header-cell *matHeaderCellDef> FECHA CANCELACION </th>
                <td mat-cell *matCellDef="let element"> {{element.fechaCancelacion}} </td>
              </ng-container>

              <ng-container matColumnDef="STATUS">
                <th mat-header-cell *matHeaderCellDef> STATUS </th>
                <td mat-cell *matCellDef="let element"> {{element.status == 1 ? 'Activa' : 'Cancelada'}} </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          
            <mat-paginator 
                         
                           [pageSize]="10"
                           [pageSizeOptions]="[5, 10, 25, 100]"
                           showFirstLastButtons 
                           aria-label="Select page of periodic elements">
            </mat-paginator>
          </div>
        </mat-card-content>        
    </mat-card>
</div>
</div>  