.material-cust-large-button {
    width: 300px;
    height: 60px;
    padding-top: 0px;
}
.material-cust-medium-button {
    width: 150px;
    height: 60px;
    padding-top: 0px;
}
table {
    width: 100%;
  }