/* You can add global styles to this file, and also import other style files */
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #646363 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  *::-webkit-scrollbar-track {
    background: #fdfdfd;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #1d1c1c;
    border-radius: 10px;
    border: 3px solid #1d1c1c;
  }